version: '3.3'

services:
    imdb_app:
        container_name: imdb_app
        restart: always
        build:
            context: imdb_service
            dockerfile: ./Dockerfile
        environment:
            - COMPOSE_PROJECT_NAME=imdb-app
            - PYTHONUNBUFFERED=true
            - FLASK_ENV=development
        volumes:
            - "./data/dataset:/imdb_app/data"
        ports:
            - 9090:9090
        networks:
            - imdb_net

    imdb_proxy:
        container_name: imdb_proxy
        restart: always
        build:
            context: imdb_proxy
            dockerfile: ./Dockerfile
        ports:
            - 8181:80
        depends_on:
            - imdb_app
        networks:
            - imdb_net

networks:
    imdb_net: